<div class="flame-game">
  <div class="header">
    <!-- <h1>FLAME Game</h1> -->
    <div class="button-container">
      <button class="flame-button">
        <span>F</span>
        <span>L</span>
        <span>A</span>
        <span>M</span>
        <span>E</span>
        <span>S</span>
      </button>
    </div>
  </div>
  <div class="container form">
    <form [formGroup]="nameForm">
      <div class="input-container">
        <input
          type="text"
          id="name1"
          placeholder="Your's name"
          formControlName="name1"
        />
        <div class="swap-icon">
          <img
            src="assets/images/flames/matchup/{{ randomNumber }}.png"
            alt="game"
          />
        </div>
        <input
          type="text"
          id="name2"
          placeholder="Partner's name "
          formControlName="name2"
        />
        <button
          id="calculate-btn"
          class="mt-3"
          (click)="calculateFlame()"
          [class.disabled]="nameForm.invalid"
        >
          Check
        </button>
      </div>
    </form>
  </div>
</div>

<div class="result-popup" *ngIf="showResult">
  <div class="result-data">
    <div class="row">
      <div class="col-md-12 cancel">
        <img
          src="assets/images/icons/cancel.png"
          alt="cancel"
          (click)="close()"
        />
      </div>
      <div class="col-md-12 fimg">
        <img src="assets/images/flames/{{ flameIndex }}.png" alt="game" />
      </div>
      <div class="col-md-12 result">
        <p>{{ result }}</p>
      </div>
    </div>
  </div>
  <div class="row ctas">
    <button class="btn btn-m share-cta" (click)="share()">
      Tell ur friend
    </button>
  </div>
</div>
