<div class="about-us">
  <div class="contianer p-3">
    <header>
      <h1>Create Wish & Enjoy Blogs</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="create-wishes">Blogs</a></li>
          <li><a href="contact-us">Contact Us</a></li>
        </ul>
      </nav>
    </header>

    <section class="about-us">
      <h2>About Us</h2>
      <ul>
        <li>
          Welcome to Festive Posts & Shayari, your one-stop destination for
          heartwarming posts on festive occasions, insightful blogs, and
          soul-stirring Shayari. We believe in spreading joy, love, and
          positivity through our creative content. Whether it's Diwali,
          Christmas, Eid, or any special day, we've got you covered with
          delightful posts to make your celebrations even more memorable.
        </li>
        <li>
          Our team of passionate writers and Shayars pour their hearts into
          every piece, ensuring that you find inspiration and happiness in our
          work. We value diversity and cultural richness, reflecting it in our
          content to resonate with readers from all walks of life.
        </li>
        <li>
          Join us on this beautiful journey of emotions, expressions, and
          celebration. Be a part of our vibrant community, and let's make every
          occasion special, one post at a time!
        </li>
      </ul>
    </section>
  </div>
</div>
