$primary-color: #551fbd;
$secondary-color: #0d0c14;
$header-color: #74d8c4;
$background-color1: #0d0c14;
$flameColor: #ff6f00;
$primary-font-family: "inter-regular";

$primary-font-size-value: 14;
$basePath: "~src/assets/images/bg/";
