@import 'mixins';


.card-style {
    overflow: hidden;
    margin: 0 1rem 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.08);
    @include flex-container();
    width: 100%;
    .content {
        @include flex-container(center, center, column);
        width: 100%;
        .text-2 {
            color: #da4453;
            font-size: 16px;
            padding-top: 0.5rem;
        }
        
        .text-3 {
            color: #6c6c6c;
            margin-bottom: 30px;
            padding: 1rem 0;
            text-align: center;
            line-height: 1.4;
        }

        button {
            background: #551fbd;
            color: white;
            border:none;
        }
    }
}

#game-container {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.08);
    padding: 20px;
    text-align: center;
    margin-bottom: 1rem;
    button {
      background: #551fbd;
      color: white;
      border: none;
    //   border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    button:hover {
      background-color: #0056b3;
    }
  }

  #game-animation {
    width: 100px;
    height: 100px;
    background-color: #ff9900;
    border-radius: 50%;
    animation: bounce 1s infinite alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-40px);
    }
  }