@import 'mixins';


.card-style {
    overflow: hidden;
    margin: 0 16px 30px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.08);
    @include flex-container();
    width: 100%;
    .content {
        @include flex-container(center, center, column);
        width: 100%;
        .text-2 {
            color: #da4453;
            font-size: 16px;
            padding-top: 0.5rem;
        }
        
        .text-3 {
            color: #6c6c6c;
            margin-bottom: 30px;
            padding: 1rem 0;
            text-align: center;
            line-height: 1.4;
        }

        button {
            background: #551fbd;
            color: white;
            border:none;
        }
    }
}